* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#hero-section {
    background-image: url('Assets/cabecalho/cabeçalho.cachoeira.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
#search-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
}
.form-input, .form-select {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-row {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-column {
    flex: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-pesquisar {
    background-color: #020556;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#btn-pesquisar:hover {
    background-color: #020556;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #683c13;
}
#navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#navbar-brand {
    display: flex;
    align-items: center;
}
#navbar-brand img {
    height: 40px;
    margin-right: 10px;
}
#navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    cursor: pointer;
}
#navbarNav {
    display: flex;
    justify-content: flex-end;
}
#navbar-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-link {
    background-color: #030891;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#nav-link:hover {
    background-color: #020687;
}
.nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
    #navbar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }
    #navbarNav {
        display: block;
        margin-top: 10px;
    }
    .form-row {
        flex-direction: column;
    }
    .form-column {
        margin: 5px 0;
    }
    #search-box {
        width: 90%;
    }
    #navbar-brand img {
        visibility: hidden;
    }
}

/* Seção de serviços */

.background-section{
    background-color: #D9D9D9;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
}

.servicos-section {
    background-color: #d3d3d3; /* Cinza claro */
    padding: 50px 20px;
}

.servicos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}

.servico-item {
    text-align: center;
}

.servico-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.servico-item p {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .servicos-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .servicos-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    h2 {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .servicos-container {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .servico-item img {
        width: 50px;
        height: 50px;
    }

    .servico-item p {
        font-size: 16px;
    }
}

/* Seção de Sobre a Pousada */

.containersobre {
    display: flex;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.coluna-texto {
    text-align: justify;
    flex: 1.4;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.6;
}

h2.pousada {
    color: black;
    font-size: 28px;
}

p.pousada {
    color: black;
    font-size: 14px;
    padding-right: 40%;
}

.coluna-fotos {
    flex: 0.6;
}

img {
    /* max-width: auto; */
    height: 10%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.d-flex.flex-column.align-items-center {
    height: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container .row {
    gap: 0 !important;
}

/* Seção de Rodapé */

.footer {
    background-color: #683c13;
    color: #ffffff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 120px;
}

.footer-logo h2 {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.footer-links,
.footer-contact {
    font-size: 14px;
    line-height: 1.8;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff;
    
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-contact {
    text-align: right;
}

/* Seção de Quartos */

.containerquartos {
    text-align: center;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.rooms {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.reserve-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.reserve-button:hover {
    background-color: #2a8d7e;
}

.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #3cb3a6;
    cursor: pointer;
}

.arrows span {
    user-select: none;
}

/* Seção de Conheça Nosso Hotel */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#sobre{
    background-color: #5d3c109f;
    justify-items: center;
}

.containerconheca {
    max-width: 800px;
    padding: 20px;
    margin-inline-start: 12px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pconheca {
    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
}

.gridconheca {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.coluna-grid-fotos img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gridconheca img:hover {
    transform: scale(1.05);
}
@media (max-width: 768px) {
    .gridconheca {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gridconheca {
        grid-template-columns: 1fr;
    }
}
#contato {
    background-image: url(Assets/faleConosco.01.png);
    background-size: cover;
}
.contact-section {
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    background-color: #f9f9f9;
}


.contact-form {
    background-color: #d6d5d5;
    padding: 2em;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-items: center;
}

/* Estilo para os campos do formulário */
.form-group {
    margin-bottom: 1em;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #C49130;
    color: #fff;
    border:#000000;
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    justify-content: center;
}

.contact-form button:hover {
    background-color: #c28b4b;
}

/* LAZER */

p.lazer{
    color: #000000;
    text-align: justify;
    font-size: 14px;
}

h5.lazer{
    color: #000000;
    text-align: center;
}

col.lazertexto{
    padding-top: 80px;
}

img.lazer {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col.Lazer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* <!-- PERGUNTAS FREQUENTES --> */

section.FAQ{
    color: #000000;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
}

h3.FAQ{
    text-align: center;
    color: #b1b1b1
}

h5.FAQ{
    font-size: 16px;
    font-weight: bold;
}

p.FAQ{
    font-size: 14px;
}
