<nav class="bg-custom-secondary sticky-top">
    <div class="container">
        <ul class="nav justify-content-center py-2">
            <li class="nav-item"><a href="../PaginaReserva.html" class="nav-link text-white">RESERVA</a></li>
            <li class="nav-item"><a href="../cadastro.html" class="nav-link text-white">CADASTRO</a></li>
            <li class="nav-item"><a href="../Login.html" class="nav-link text-white">LOGIN</a></li>
            <li class="nav-item"><a href="../FAQ.html" class="nav-link text-white">FAQ</a></li>
        </ul>
    </div>
</nav>