<footer class="bg-primary-custom text-white mt-auto">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5><i class="bi bi-calendar-heart"></i> Pousada Talento Cloud</h5>
                <p>A sua melhor escolha para descanso e lazer.</p>
                <div>
                    <p><i class="bi bi-house me-2"></i>Rua Exemplo, 123, Cidade</p>
                    <p><i class="bi bi-envelope me-2"></i>contato@pousadatalento.com</p>
                    <p><i class="bi bi-phone me-2"></i>+55 12 3456-7890</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <h5><i class="bi bi-link"></i> Links úteis</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-white text-decoration-none">Início</a></li>
                    <li><a href="PaginaReserva.html" class="text-white text-decoration-none">Reserva</a></li>
                    <li><a href="cadastro.html" class="text-white text-decoration-none">Cadastro</a></li>
                    <li><a href="Login.html" class="text-white text-decoration-none">Login</a></li>
                    <li><a href="FAQ.html" class="text-white text-decoration-none">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-4 text-center">
                <h5>Redes Sociais</h5>
                <p>Conecte-se conosco:</p>
                <div class="social-icons">
                    <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-youtube"></i></a>
                    <a href="#" class="text-white mx-2"><i class="bi bi-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-secondary-custom text-center py-3">
        <small>© 2025 Pousada Talento Cloud. Todos os direitos reservados.</small>
    </div>
</footer>