<header class="bg-custom-primary">
    <div class="container-fluid py-3">
        <div class="row align-items-center">
            <div class="col-md-3 text-center text-md-start">
                <img src="Assets/mainlogo" class="img-fluid" style="max-height: 60px;">
            </div>
            <div class="col-md-6 text-center">
                <h1 class="brand-title mb-0">Pousada Talento Cloud</h1>
            </div>
            <div class="col-md-3 text-center text-md-end">
                <a href="../index.html" class="btn btn-custom">Home</a>
            </div>
        </div>
    </div>
</header>