<section class="bg-dark-green sticky-top py-2">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark text-white">
            <!-- Botão do menu hamburguer -->
            <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPousada" aria-controls="navbarPousada" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Conteúdo colapsável -->
            <div class="collapse navbar-collapse" id="navbarPousada">
                <ul class="navbar-nav nav-pills mx-auto mb-0">
                    <li class="nav-item"><a href="#pousada" class="nav-link text-white">Sobre a Pousada</a></li>
                    <li class="nav-item"><a href="#home" class="nav-link text-white">Nossos Quartos e Suítes</a></li>
                    <li class="nav-item"><a href="#lazer" class="nav-link text-white">Lazer</a></li>
                    <li class="nav-item"><a href="#servicos" class="nav-link text-white">Serviços</a></li>
                    <li class="nav-item"><a href="#sobre" class="nav-link text-white">Conheça Nosso Hotel</a></li>
                    <li class="nav-item"><a href="#avaliacoes" class="nav-link text-white">Depoimentos</a></li>
                    <li class="nav-item"><a href="PaginaReserva.html" class="nav-link nav-btn-reserva btn-custom">RESERVA</a></li>
                </ul>
            </div>
        </nav>
    </header>
</section>